*{
    font-family: "calibri";
    font-size: 15px;
}
body{
    overflow:hidden;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
th{
    font-weight: normal;
    text-transform:uppercase;
    text-align: center;
    color: white;
    height: 35px;
    background: #3C8DBC;
}
td{
    height: 35px;
    font-size: 14px;
}
.badge{
    background: red;
}

section,.content{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10px;
}
.content-wrapper{
    background: white;
}
.pagination{
    margin-top: -7px;
}
.content{
    max-height: 550px;
    overflow: auto;
}
.content-header{
    padding: 0;
    margin: 0;
    height: 40px;
}
button{
    border: 0;
    border-radius: 3px;
    background: #f8f8f8;
    height: 30px;
    text-align: center;
}
.content-header button{
    margin-top: 7px;
    font-size: 14px;
    height: 35px;
    margin-left: 10px;
}
.tambah,
.hapus-semua,
.detail,
.hapus,
.edit{
    transition: all 0.3s ease-out;
}
.tambah{
    background: green;
    color: white;
}
.tambah:hover{
    background: white;
    border: solid 1px green;
    color: green;
}
.hapus-semua{
    background: #DD4B39;
    color: white;
}
.hapus-semua:hover{
    background: white;
    color: #DD4B39;
    border: solid 1px  #DD4B39;
}
.detail{
    color: #3C8DBC;
}
.hapus{
    color: #DD0000;
}
.edit{
    color: #F39C12;
}

@media only screen and (min-device-width:0px) and (max-device-width:1024px){
    #ico-left{
        display: none;
    }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
    input[type="file"],
    textarea,
select{
    width: 80%;
}
    .kota,
    .kecamatan,
    .keluarahan{
        display: none;
    }
}
@media only screen and (min-device-width:1025px){
    input[type="text"],
input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="file"],
    textarea,
select{
    width: 85%;
}
    
}

@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes zoom{
    from{margin-top: -1000px; opacity: 0;}
    to{margin-top: 20px; opacity: 1;}
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="file"],
select{
    height: 40px;
    border: 0;
    background: transparent;
    border-radius: 3px;
    padding-left: 10px;
}
textarea{
    padding: 10px;
    border: 0;
    width: 97%;
    height: 250px;
    
}
option{
    height: 30px;
    text-align: center;
    font-size: 18px;
}
input[type="file"]{
    margin-left: 20px;
}
.tutup{
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 0px;
    background: white;
    color: green;
    border-radius: 50%;
    margin-right: 10px;
    border: solid 0px #E71A00;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    border: solid 1px green;
}
.tutup:hover{
    background: green;
    color: white;
}
.register{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 9999;
    overflow: auto;
    display: none;
    animation: fade 0.8s ease;
}

.in-login{
    height: 100%;
    float: left;
}
#in-satu{
    width: 85%;
    text-align: center;
    padding-top: 20px;
    font-family: "century gothic";
    font-size: 20px;
}
#in-dua{
    width: 15%;    
    padding-top: 20px
}
.content-login{
    width: 90%;
    min-width: 300px;
    
    border-radius: 3px;
    background: #f8f8f8;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 650px;
    padding-bottom: 10px;
    animation: zoom 1s ease;
}
.isi-in-dua{
    float: left;
    height: 85%;
}
#left-in-dua{
    width: 30%;
    padding-left: 20px;
}
#right-in-dua{
    width: 70%;
    padding-left: 10px;
    padding-top: 10px;
}
#right-in-dua textarea{
    width: 99%;
    height: 100%;
}
.content-login button[type="submit"],
.content-login button[type="reset"]{
    width: 100%;
    height: 40px;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    border: 0;
}
.content-login button[type="reset"]{
    background: green;
}
.content-login button[type="submit"]{
    background: #004FA7;
}
.content-login button[type="reset"]:hover{
    background: white;
    color: green;
    border: solid 1px green;
}
.content-login button[type="submit"]:hover{
    background: #fff;
    color: #004FA7;
    border: solid 1px #004FA7;
}
.isi-login{
    width: 90%;
    margin: 0 auto;
    border-radius: 3px 3px 0px 0px;
    font-size: 15px;
    font-family: "century gothic";
}
.img-user-regist{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../davinci/logo/user.png);
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: -25px;
}

#login-satu{
    height: 90px;
    width: 100%;
    background: white;
}
.navbar{
    background: #fff;
}
#login-dua{
    height: auto;
    margin-top: 10px;
    border: 0;
}
.inpt{
    height: auto;
    width: 100%;
    border-bottom: solid 1px lightgray;
    color:black;
    margin-top: 10px;
}
.isi-inpt{
    float: left;
    width: 30%;
    background: blue;
}
#ico-left{
    font-size: 16px;
    margin-left: 10px;
    color: darkslategray;
}
#inpt-msg{
    height: 20px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
    background: #eee;
}
#ok-satu,
#ok-dua,
#ok-tiga,
#ok-empat,
#ok-lima,
#ok-enam,
#ok-tujuh,
#ok-lapan{
    color: green;
    font-size: 20px;
    display: none;
    float: right;
    margin-right: 5px;
    margin-top: 8px;
}
#bl_msgpass{
    font-size: 13px;
}
#btn_submt2{
    display: none;
}
